streamlit
bcrypt
google-auth  # For google.oauth2.service_account
pillow  # For PIL (Python Imaging Library)
google-cloud-storage  # For google.cloud.storage
pandas
openai-whisper
pytube
openai
tiktoken
moviepy
pymupdf  # For fitz (PyMuPDF)
reportlab
markdown2
fuzzywuzzy
tqdm
numpy
requests
polars==0.20.31
pathlib
st-files-connection
pyjwt==2.9.0
yt-dlp